body {
  margin: 0;
  font-family: Arial, sans-serif;
  padding: 0;
}

header {
  padding: 10px 20px;
  text-align: center;
}

section {
  padding: 10px 20px;
}

#hero {
  background-image: url('./images/dylan-calluy-8BYahZcwYgI-unsplash.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
 
  color: white;
  text-align: center;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.book-btn {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  background-color: #bea683;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;  
}

.book-btn:hover, .book-btn:active {
  background-color: #a1886f;
}

footer {
  text-align: center;
  padding: 10px 20px;
  background-color: #f1f1f1;
}