body {
  margin: 0;
  font-family: Arial, sans-serif;
  padding: 0;
}

header {
  padding: 10px 20px;
  text-align: center;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  color: #bea683;
}

.book-btn {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  background-color: #bea683;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;  
}

.book-btn:hover, .book-btn:active {
  background-color: #a1886f;
}

nav {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

nav a {
  margin: 0 15px;
  color: #333;
  font-weight: bold;
}

nav a:hover {
  color: #bea683;
}

section {
  padding: 10px 20px;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
  text-align: center;
}

hr {
  border: none;
  border-top: 3px solid #bea683;
  margin: 20px 0;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

#hero {
  background-image: url('./images/dylan-calluy-8BYahZcwYgI-unsplash.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
 
  color: white;
  text-align: center;
  padding: 0 20px;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero .bg-opacity {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

#hero .hero-tag {
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 20vh;
  margin-bottom: 0.5em;
  
  background-color: rgba(255, 255, 255, 0.6);
  padding: 5px 10px;
  border-radius: 20px;
}

#hero .hero-content {
  z-index: 2;
}

#hero h1 {
  font-size: 5em;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 0.2em;
}

#hero p {
  font-size: 1.5em;
  max-width: 600px;
  margin: 0 auto;
}

#hero .hero-book-btn {
  margin-top: 20px;
  width: 300px;
  display: inline-block;
  padding: 15px 0;
  text-align: center;
  background-color: #bea683;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold; 
}


/* ABOUT - HOMEPAGE */
#about p {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.6em;
}



footer {
  text-align: center;
  padding: 10px 20px;
  background-color: #f1f1f1;
}


/* Book a Stay  */
form {
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

input, select{
  width: 100%;
  padding: 10px;
}
 
input[type="submit"] {
  background-color: #bea683;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 15px;
  cursor: pointer;
}


/* Confirmation */
#confirmation {
  text-align: center;
  padding: 20px;
  background-color: #e0ffe0;
  border: 2px solid #00cc00;
  border-radius: 5px;
  margin-top: 20px;
}